@model HomeViewModel
@{

}
<h2>@Model.Title</h2>
<h3>All our rogues are trash - <span style="color:mediumpurple">Gio</span></h3>
<hr />

@{
    foreach (var item in Model.Items)
    {
        <div>
            <h2>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.ItemName</a>
            </h2>
            <h3>@item.ItemQuantity</h3>
        </div>
    }
    foreach (var container in Model.Containers)
    {
        <div>
            <h2>@container.ContainerId</h2>
            <h3>@container.NumberSlots</h3>
        </div>
    }
}

